* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 15vh;
  
}



.header-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #ffffff;

}

.header-info__turn,
.header-info__round, .start-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-info__turn {
  width: 45%;
 
}

.start-div{
  width: 10%;
}
.start{
  width: 100%;
  padding: 1em;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  
  cursor: pointer;
  transition: all 1s;
}

.start:hover{
  margin-bottom: 7px;
  box-shadow: 2px 40px 40px #572364;
  transition: all .5s;
}

.header-info__round {
  width: 45%;
  
}

.header-info__turn p,
.header-info__round p {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.game {
  background: black;
  height: 80vh;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.game > .grid-container {
  height: 100%;
  width: 600px;
  display: grid;
  justify-self: center;
  grid-gap: 1em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

#cuadro1 {
  background-color: #0f0;
  border-radius: 100% 0 0 0;
}

#cuadro2 {
  background-color: blue;
  border-radius: 0 100% 0 0;
}

#cuadro3 {
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

#cuadro4 {
  background-color: red;
  border-radius: 0 0 100% 0;
}

.cuadro{
  opacity: .5;
  transition: opacity .1s;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 15px;
  background-color: black;
  color: #ffffff;
}

.credits__text a {
  text-decoration: none;
  color: #50cc;
}
.credits__text-coffe{
  width: 30px;
}
